<footer>
    <div class="footer-text-wrap">
        <p class ="ft-title">Angular Material Project</p>
        <p>Manuel Quiñones</p>
        <p>2022</p>
    </div>    
    <div class="social-icon-wrap">
        <i class="social-icon"><img src="../../../assets/images/social-icon/facebook.png" alt="facebook_icon"></i>
        <i class="social-icon" ><img src="../../../assets/images/social-icon/gorjeo.png" alt="twitter_icon"></i>
        <i class="social-icon"><img src="../../../assets/images/social-icon/instagram.png" alt="instagram_icon"></i>
    </div>
</footer>
