<section>
    <div class="main-sct">
        <div class="main-sct-2">
            <p class="main-title">VINCENT PIZZA</p>
            <p class="main-lemma">MAKING PEOPLE HAPPY</p>
            <a class="main-btn" href="#menu-section">ORDER NOW</a>
        </div>
        <div class="main-sct-3">
            <img src="./assets/images/pizzaload2.png" alt="PIZZA">
        </div>
    </div>
</section>
<section>
    <div class="services-sct">     
        <mat-card class="services-sct-2">
            <mat-card-header>              
              <mat-card-title>SERVICE ONE</mat-card-title>              
            </mat-card-header>
            <img mat-card-image src="./assets/images/icon_1.png" alt="Photo of a Shiba Inu">
            <mat-card-content class="mat-card-content">
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quis expedita sint necessitatibus distinctio, obcaecati, soluta aliquam natus aliquid omnis repellat, dolorum ducimus dicta ipsum facere. Sunt est facere ullam!.
              </p>
            </mat-card-content>
            <mat-card-actions>              
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-sct-2">
            <mat-card-header>              
              <mat-card-title>SERVICE TWO</mat-card-title>              
            </mat-card-header>
            <img mat-card-image src="./assets/images/icon_2.png" alt="Photo of a Shiba Inu">
            <mat-card-content class="mat-card-content">
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quis expedita sint necessitatibus distinctio, obcaecati, soluta aliquam natus aliquid omnis repellat, dolorum ducimus dicta ipsum facere. Sunt est facere ullam!.
              </p>
            </mat-card-content>
            <mat-card-actions>              
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="services-sct-2">
            <mat-card-header>              
              <mat-card-title>SERVICE THREE</mat-card-title>              
            </mat-card-header>
            <img mat-card-image src="./assets/images/icon_3.png" alt="Photo of a Shiba Inu">
            <mat-card-content class="mat-card-content">
              <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quis expedita sint necessitatibus distinctio, obcaecati, soluta aliquam natus aliquid omnis repellat, dolorum ducimus dicta ipsum facere. Sunt est facere ullam!.
              </p>
            </mat-card-content>
            <mat-card-actions>                       
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          

    </div>
</section>

<section id="menu-section">
    <div class="menu-sct">
        <h2>DISCOVER OUR MENU</h2>       
        <div class="menu-items-wrap">
            <div class="menu-item-card">                
                <button mat-raised-button>PIZZAS</button>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/2.jpg" alt="pizza1-img" class="menu-item-img">
                </div>
            </div>
            <div class="menu-item-card">                
                <button mat-raised-button>PASTAS</button>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/6.jpg" alt="pasta1-img" class="menu-item-img">
                </div>
            </div>
            <div class="menu-item-card">                
                <button mat-raised-button>DRINKS</button>
                <div class="menu-item-img-wrap">
                    <img src="../../../assets/images/pizza/11.jpg" alt="drink1-img" class="menu-item-img">
                </div>
            </div>
        </div>      
    </div>
</section>

